@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500&display=swap');

*{
    margin: 0px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.topimage{

    background-image: url('larm-rmah-AEaTUnvneik-unsplash.jpg');
    background-position: center;
    height: 95vh;
    width: 100%;
    background-size: cover;
    
    


}
.container{
    margin: 0;
    height: 100%;
    
}
.divtext{
    color: white;
    text-align: center;
    height: 17vh;
    min-height: 300px;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 4vh;
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-direction: column;
    top: 18vh;
    left: 30vw;
    border: 2px solid transparent;
    border-radius: 15px;
    font-size: 4.5vmin;
    font-weight: 250;
    text-align: center;
    justify-items: center;
    color: #EDC344;
    margin-top: 5vh;
    
}

.divtext h4:hover{
    color:#EDC344 ;
    cursor: pointer;

}
.lowerheading{
    color: #ffffff;
    display: inline-block;
    padding: 5px;
    font-weight: 300;

}

.lowercontainer{
    display: flex;

    text-align: center;
    width: 90%;
    margin: auto auto;
    margin-bottom: 5vw;
    margin-top: 20vh;
    flex-direction: column;
}
.eachabout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    
    padding: 10px;
    
}
.reverse{
    flex-direction: row-reverse
}
.eachheading{
    font-size: 5vh;
    font-weight: 900;
    padding: 10px;
    transition-property: all;
    transition-duration: 40ms;
    text-decoration: none;
    border-bottom: 0px solid red;
}
.eachheading:hover{
    border-bottom: 2px solid black;
    border-width: 100%;
    
}
.eachtext{
    width: 400px;
    max-width: 400px;
    min-width: 100px;
}









